* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 200px 80px 50px 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 3px -3px whitesmoke;
    padding: 10px 80px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.nav ul li {
    list-style: none;
}

.logo {
    width: 10%;
}

.nav-right {
    width: 85%;
    vertical-align: ;
}

.nav-right-top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
}

.nav-right-top-left ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.nav-right-top-right ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.nav-right-bottom ul {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 25px;
    font-size: 18px;
}

.nav-right-top-right button {
    background-color: #ffbc0d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.nav-right-top-right a {
    color: #31a6dd;
}

.nav-right select {
    border: none;
}

.nav-right-bottom select {
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.row-left {
    width: 65%;
}

.row-left img {
    width: 100%;
}

.row-right {
    width: 33%;
}

.row-right h2 {
    font-size: 35px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.row-right p {
    font-size: 17px;
    margin-top: 25px;
}

#row-small {
    font-size: 12px;
}

.row-right button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #ffbc0d;
    margin-top: 70px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer-top li {
    list-style: none;
    cursor: pointer;
    margin: 10px 0px;
    font-size: large;
}

.footer-top li:hover {
    color: #ffbc0d;
}

.footer-top h6 {
    font-size: 16px;
}

.footer-col {
    width: 23%;
}